
.slide-container{
    height:600px;
}

.each-slide{
    height:800px;
    width:100%;
}
.sizeop{
    height: 800px;
    width:100%;
}
.aligz{
    text-align: center;
}

/* Services Section
--------------------------------*/
.marginz{
    margin-top: 300px;
    
}
.recfio{
    border: 2px solid black;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    margin:5px;
}

