:root{
  --font-family:'Montserrat', sans-serif;
  --primary-color:black;
  --secondary-color:#97D2EC;
}
body::-webkit-scrollbar {
  width: 4px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.search_banner_region{
  background-image: url(../../assets/images/banner/main_banner_home_page.jpg);
  height: 800px;
  background-size: cover;
  background-position: bottom;
  padding-top: 100px;
}
.search_banner_region h1{
  font-size: 4rem;
  font-weight: 800;
}
.search_banner_region h1 span{
  color: var(--secondary-color);
}

.search_banner_region p{
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 50px;
  letter-spacing: 1px;
  font-weight: 500;
}
.main_banner_search_bar{
  width: 80%;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  height: 80px;
  margin-top: 50px;
  position: relative;
}
.main_banner_search_bar .bar_location{
  width: 30%;
  height: 100%;

}
.main_banner_search_bar  .bar_price{
  width: 30%;
  height: 100%;

}
.main_banner_search_bar  .bar_type{
  width: 30%;
  height: 100%;
}
.main_banner_search_bar  .search_btn{
    width: 110px;
    height:60px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.main_banner_search_bar p{
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  line-height: 10px;
}
.main_banner_search_bar span{
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  color: rgb(171, 171, 171);
  margin: 0px;
}
.hide_search_bar{
  position: absolute;
  width:0px;
  height: 100%;
  top: 0px;
  overflow: hidden;
  transition: 0.6s all;
  right: 10px;
}
.hide_search_bar input{
  border: none;
  padding: 20px;
  background-color: transparent;
  width: 100%;
  transition: 0.6s all;
  outline: none;
  height: 100%;
  color: black;
  font-weight: 600;
}
.hide_search_bar2 input{
  border: none;
  padding: 20px;
  background-color: transparent;
  width: 100%;
  transition: 0.6s all;
  outline: none;
  height: 100%;
  color: black;
  font-weight: 600;
}
.hide_search_bar2{
  position: absolute;
  width: 100%;
  transition: 0.6s all;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  right: 0px;
  top: 0px;
}
/* about section========================================================================================== */
.home_about_section{
  padding-top: 100px;
  padding-bottom: 100px;
}
.home_about_section_left_section{
  padding-top: 100px;
  padding-bottom: 100px;
}
.home_about_section_left_section p{
  color: var(--secondary-color);
  font-weight: 600;
}


.home_about_section_left_section h1{
  font-size: 3rem;
  font-weight: 800;
}
.home_about_section_right_section p{
  padding-top: 100px;
  color: rgb(171, 171, 171);
  font-weight: 500;
}
.home_about_section_right_section a{
  outline: none;
  color: black;
  text-decoration: none;
}
.home_about_section_right_section a:hover{
  outline: none;
  color: var(--secondary-color);
  text-decoration: none;
}
/* about section========================================================================================== */






































/* product card========================================================================================== */

.home_about_card{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
}
.home_about_card h6{
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 600;
}
.home_about_card p{
  color: rgb(171, 171, 171);
  font-weight: 500;
}
.home_product_section{
  background-color:rgb(222, 247, 255);
  padding-bottom: 100px;
}
.image_section{
  height: 250px;
  position: relative;
}
.product-card-heart-hover{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  height: 50px ;
  width:50px ;
  border-radius: 50%;
  transition: 0.3s all;
}
.product-card-heart-hover img{
  height: 100% !important;
  width: 100% !important;
}
.product-card-heart-hover:hover{
  background-color: palevioletred;
}
.image_section img{
  height: 250px;
  width: 100%;
  border-radius: 10px;
}
.property_card{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.detail_section span{
  color: var(--primary-color);
  padding-block: 5px;
  padding-inline: 15px;
  background-color: rgb(236, 236, 236);
  border-radius: 40px;
  margin-top: 10px;
  font-size: 12px;
  margin-inline: 5px;
  font-weight: 600;
  color: rgb(171, 171, 171);


}
.detail_section span:nth-child(1){
  color: var(--primary-color);
  padding-block: 5px;
  padding-inline: 15px;
  color: rgb(171, 171, 171);
  border-radius: 40px;
  margin-top: 10px;
  font-size: 12px;
  margin-inline: 0px;
  font-weight: 600;
  background-color: rgb(236, 236, 236);
}
.detail_section h3{
  font-weight: 600;
  padding-top: 20px;

}
/* product card========================================================================================== */



/* product card========================================================================================== */
.home_blog_section{
  padding-block: 100px;
  background: white;
}
.blog_images{
  height: 400px;
}
.blog_images-hor{
  height: 150px;
  width: 600px;
}
.blog_images-hor img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.blog_images img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.blog_images_detail span{  
  font-weight: 600;
  color: rgb(171, 171, 171);

}
/* product card========================================================================================== */
/* home_banner_ad_section================================================================================ */
.home_banner_ad_section{
  padding-block: 50px;
  background-color: white;
  background-image: url(../../assets/images/banner/ad_banner.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home_banner_ad_section h1{
  color: white;
}
.home_about_section_left_section button{
  background-color: white;
  color: black;
  padding-block: 10px;
  padding-inline: 30px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  transition: 0.4s all;
}
.home_about_section_left_section button:hover{
  background-color: var(--secondary-color);
  color:white;
}
/* home_banner_ad_section================================================================================ */
