:root{
    --font-family:'Montserrat', sans-serif;
    --primary-color:black;
    --secondary-color:#97D2EC;
}
body{
    font-family: var(--font-family) !important;
}
.Header{
    width: 100%;
    z-index: 99;
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.Header a{
    outline: none;
    font-family: var(--font-family);
    color: black;
    font-weight: 600;
    margin-inline: 10px;
    text-decoration: none;
}
.Header a:hover{
    color: var(--secondary-color);
}
.Header button{
    background-color: var(--primary-color);
    border: none;
    padding-inline: 30px;
    padding-block: 10px;
    color: white;
    border-radius: 40px;
}
